In [1]:
sqlite:///db.sqlite3

Conectado com sucesso!

In [4]:
CREATE TABLE posts (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    autor VARCHAR(32),
    titulo VARCHAR(64),
    conteudo TEXT,
    data_postagem DATETIME DEFAULT CURRENT_TIMESTAMP
);

Tabela posts criada com sucesso.

In [13]:
INSERT INTO posts (
    autor, titulo, conteudo
) 
VALUES 
    ('Augusto', 'Dicas de rebolar', 'Senta devagar'),
    ('Matheus', 'Dicas de minecraft', 'Bedrock forever!');

In [14]:
SELECT * FROM posts;

    id    autor                titulo                                       conteudo        data_postagem
0    1     João     Meu primeiro post                                    Olá, mundo!  2025-08-12 13:50:12
1    2     João     Meu primeiro post                                    Olá, mundo!  2025-08-12 13:50:19
2    3     João     Meu primeiro post                                    Olá, mundo!  2025-08-12 13:50:22
3    4     João     Meu primeiro post                                    Olá, mundo!  2025-08-12 13:50:29
4    5    Maria        Aprendendo SQL  Hoje aprendi a criar tabelas e inserir dados.  2025-08-12 13:50:29
5    6   Carlos  Dicas de programação              Sempre faça backup do seu código!  2025-08-12 13:50:29
6    7     João     Meu primeiro post                                    Olá, mundo!  2025-08-12 14:07:38
7    8    Maria        Aprendendo SQL  Hoje aprendi a criar tabelas e inserir dados.  2025-08-12 14:07:38
8    9   Carlos  Dicas de programação              Sempre faça backup do seu código!  2025-08-12 14:07:38
9   10     João     Meu primeiro post                                    Olá, mundo!  2025-08-12 14:07:42
10  11    Maria        Aprendendo SQL  Hoje aprendi a criar tabelas e inserir dados.  2025-08-12 14:07:42
11  12   Carlos  Dicas de programação              Sempre faça backup do seu código!  2025-08-12 14:07:42
12  13  Augusto      Dicas de rebolar                                  Senta devagar  2025-08-12 14:07:50
13  14  Matheus    Dicas de minecraft                               Bedrock forever!  2025-08-12 14:07:50